*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
video,
svg {
  display: block;
  max-width: 100%;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
}
